.header {
    text-align: center;
    padding: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header h1 {
    color: whitesmoke;
    font-family: 'Playfair Display', serif; 
    font-size: 3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.818);
    box-sizing: border-box;
    text-align: center;
}

.header p {
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    text-shadow: 1px 1px black;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

footer {
    text-align: center;
    color: rgba(245, 245, 245, 0.385);
    margin-top: 45px;
}

.container-form {
    color: black;
    max-width: 800px;
    margin: auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 30px;
    border-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.mensagemn {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.mensagemp {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
